

.main-container {
    border: 2px solid green;
    border-radius: 10pt;
}
.minus {
    border-radius: 200px
}

.plus {
    border-radius: 200px
}

.in-line {
    display: inline;
}


.medium {
    height: 20px;
    width: 20px;
}

.border-radius {
    border-radius: 8pt;
}