.the_container {
    text-align: center;
    margin: 30px auto;
    
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.shapes {
    display: inline-block;
    width: 250px;
    height: 250px;
    background: rgb(235, 209, 62);
    cursor: pointer;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    animation: polygons 13s alternate infinite; /* 20% slower */
}

@keyframes polygons {
    25% {
        clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
        background: rgb(132, 194, 162);
    }
    50% {
        clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
        background: rgb(94, 145, 238);
    }
    75% {
        clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
        background: rgb(0, 128, 128);
    }
    100% {
        clip-path: polygon(40% 0%, 100% 33%, 77% 100%, 23% 100%, 0% 33%);
        background: rgb(255, 99, 71);
    }
    33% {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        background: rgb(255, 165, 0);
    }
    66% {
        clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 0% 75%);
        background: rgb(127, 255, 212);
    }
    90% {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        background: rgb(186, 85, 211);
    }
}